* {
    font-family: "lato";
   }
  
  :root {
    --darkgreen: #648381;
    --light-green: #e5ebea;
    --pink: #ddb8a6;
      }

      
.profile-header {
    transform: translateY(5rem);
}

#name {
    font-size: 50px;
}

#title {
    font-size: 25;
}

.hide{
    visibility: hidden;
}

.css-container .caption-background {
    position: absolute; /* Position the background text */
    bottom: 0; 
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
  }


.background {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    }


    .image {
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }
