* {
    font-family: "lato";
  }
  
  :root {
    --darkgreen: #648381;
    --light-green: #e5ebea;
    --pink: #ddb8a6;
      }

      
.profile-header {
    transform: translateY(5rem);
}

#name {
    font-size: 50px;
}

#title {
    font-size: 25;
}

.hide{
    visibility: hidden;
}

#container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

/* #background{
    background-color: black;
} */


body {
    background: gray;
    background: -webkit-linear-gradient(to right, gray, white);
    background: linear-gradient(to right, grey, white);
    min-height: 100vh;
}

